<% layout('layouts/boilerplate')%>
<section class="hero">
    <h1> welcome to camplist </h1>
    <a>a place for finding your next adventure</a>
       <a href="/campgrounds/"><button>all campgrounds</button></a>
</section>
       
