<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<% layout('layouts/boilerplate')%>
       <h1><%= campground.title %></h1>
       <h1><%= campground.location %></h1>
        <a href="/campgrounds/<%=campground._id%>/edit"><button>Edit</button></a>
        <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
       <footer>
        <a href="/campgrounds">all campgrounds</a>
    </footer>
        
        <script src="" async defer></script>
   