@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Open+Sans:wght@300;400;600;700;800&display=swap');
body {
    font-family: Open Sans;
    font-size: 20px;
    background-color: #F9F8F1;
    width: 100vw;
    height: 100%;
    margin: 0;

}
main {
    margin: 0 10%;
}

h1 {
    font-family: Cabin;
    color: #43291F;
    text-transform: uppercase;
}
a {
    color: #226F54;
    transition: 0.4s;
}
a:hover {
    color: #DA2C38;
}

header {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #226F54;
    position: sticky -webkit-sticky;
    

}
nav a {
    color: #F9F8F1;
    text-decoration: none;
    margin-left: 12px;
    text-transform: uppercase;
    transition: 0.4s;

}

nav a:hover {
    color: #F3EFC1;
    
}

button {
    background-color: #226F54;
    padding: 12px;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 700;
    text-transform: uppercase;
    border:none;
    border-radius: 30px;
    color: #F9F8F1;
    transition: 0.3s;
}
button:hover {
    background-color: #DA2C38;
    transform: scale(0.95);
}

